<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RopiKos">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrasiActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".EditProfilActivity" />
        <activity android:name=".TambahKamarActivity" />
        <activity android:name=".ListKamarActivity" />
        <activity android:name=".DetailKamarActivity" />
        <activity android:name=".EditKamarActivity" />
        <activity android:name=".TambahPenyewaActivity" />
        <activity android:name=".ListPenyewaActivity" />
        <activity android:name=".DetailPenyewaActivity" />
        <activity android:name=".EditPenyewaActivity" />
        <activity android:name=".PindahKamarActivity" />
        <activity android:name=".PerpanjangSewaActivity" />
        <activity android:name=".KeuanganActivity" />
        <activity android:name=".EditKeuanganActivity" />
        <activity android:name=".TambahPerawatanActivity" />
    </application>

</manifest>